.header-top{
    background: #3b84b0;
    font-size: 13px;
    color: white;
    padding: 10px 0; /*top(bottom) right(left)*/
    text-transform: uppercase;
}
.header-bottom{
    background-image: url('/assets/img/banner.jpg');
    background-size: cover;
    padding: 15px 0;
}
.header-bottom h2{
    font-size: 35px;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px #507e96;
}
.header-bottom .address{
    font-size: 14px;
    color: black;
    text-shadow: 1px 1px 1px #507e96;
}