<header>
    <div class="header-top">
        <div class="container">
            Welcome to out Huy Lam BAKERY Co,. Ltd
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <h2>Huy Lam BAKERY</h2>
            <div class="address">
                Địa chỉ: 77 đường số 1, Quận 11, TP.HCM
                <br>
                Số điện thoại: 0909080706 (HUY)
                <br>
                Gmail: huylambakery@gmail.com
            </div>
        </div>
    </div>
</header>