<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="title">HUY LAM BAKERY</span>
                <div class="address">
                    <div class="detail">
                        <span class="icon"><i class="fa fa-map-marker fa-2x"></i></span>
                        <span class="text">Địa chỉ: 77 đường số 1, Quận 11, TP.HCM</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="fa fa-mobile fa-2x"></i></span>
                        <span class="text">Số điện thoại: 0909080706 (HUY)</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <span class="text">Gmail: huylambakery@gmail.com</span>
                    </div>
                </div>
                <div class="network">
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <span class="title-2">Site maps</span>
                <ul class="sitemap">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Các Loại Bánh</a></li>
                    <li><a href="">Bảng giá</a></li>
                    <li><a href="">Nguyên vật liệu</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span class="title-2">Sản phẩm</span>
                <ul class="sitemap">
                    <li><a href="">Bánh Crepe Trái Cây</a></li>
                    <li><a href="">Bánh Bông Lan Trứng Muối</a></li>
                    <li><a href="">Bánh Su Kem</a></li>
                    <li><a href="">Bánh Sinh Nhật</a></li>
                    <li><a href="">Bánh PIZZA</a></li>
                    <li><a href="">Bánh Mặn</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span class="title-2">Fanpage</span>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1420378388043536" width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Copyright @2021 HUY LAM BAKERY Co., Ltd, All right reserved
            </div>
            <div class="col-md-6 text-right">
                Design by Thiet ke Web Uy Tin
            </div>
        </div>
    </div>
</div>