<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
    <li class="breadcrumb-item"><a href="#">Danh Mục</a></li>
    <li class="breadcrumb-item"><a href="#">Tin Tức</a></li>
    <li class="breadcrumb-item active">Nổi Bật</li>
</ul>

<div class="title_home">
    <h1 class="t1">Tin tức</h1>
    <span class="t2" style="color: #bdbdbd;">
        Lượt xem: <b style="color: #fbca00;">15</b>
    </span>
</div>

<div class="content">
    <p>
        Bánh mì bơ tỏi là món ăn được rất nhiều người yêu thích, nó vô cùng tiện lợi cho bữa sáng, buổi dã ngoại hay bữa tiệc nhỏ. Hôm nay, monandongian sẽ mách bạn cách làm siêu dễ dàng để bạn có món bánh mì thơm ngon chiêu đãi cả nhà nhé!

Khi bạn đã cảm thấy chán ngấy những món bánh mì thông thường như : bánh mì ốp la, kẹp xúc xích… 
    </p>
    <p>
        Tại sao bạn không cập nhật vào menu của mình những món ăn mới. Nếu bạn muốn có món ăn ngon, dinh dưỡng thì hãy theo dõi công thức làm dưới đây nhé. Chắc chắn vị thơm của bơ tỏi cùng với những miếng bánh mì ròn giụm sẽ khiến bạn mê mẩn. Còn chần chờ gì nữa, hãy bắt tay vào thực hiện thôi nào!
    </p>
    <p>
        <img src="assets/img/sp3.jpg" style="cursor:pointer" width="900" height="400">
    </p>
    <p>
        Tại sao bạn không cập nhật vào menu của mình những món ăn mới. Nếu bạn muốn có món ăn ngon, dinh dưỡng thì hãy theo dõi công thức làm dưới đây nhé. Chắc chắn vị thơm của bơ tỏi cùng với những miếng bánh mì ròn giụm sẽ khiến bạn mê mẩn. Còn chần chờ gì nữa, hãy bắt tay vào thực hiện thôi nào!
    </p>
</div>

<div class="title_home">
    <span class="t1">Tin liên quan</span>
    <span class="t2">
        <a href="">Xem tin cùng chủ đề</a>
    </span>
</div>

<div class="post_relavtive">
    <ul>
        <li><a href="">Giới thiệu về bánh mi bơ tỏi</a></li>
        <li><a href="">Nguyên liệu cần chuẩn bị</a></li>
        <li><a href="">Đồ dùng nấu ăn cần chuẩn bị</a></li>
        <li><a href="">Các bước thực hiện món ăn</a></li>
        <li><a href="">Các lưu ý khi làm bánh mì bơ tỏi tại nhà</a></li>
        <li><a href="">Cách thực hiện khi làm món ăn</a></li>
        <li><a href="">Công dụng của tỏi trong món ăn</a></li>
    </ul>
</div>