.main_product img{
    border-radius: 5px;
    box-shadow: 0 0 20px #ddd;
}
input[type="number"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-bottom: 15px;
}
a.cart-btn {
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 15px
}
ul.product-share {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.product-share li {
    display: inline-block;
}
ul.product-share li a {
    display: block;
    color: #051922;
    margin-right: 10px;
}