<div class="title_home">
    <span class="t1">Sản phẩm xem nhiều</span>
    <span class="t2"></span>
  </div>
  
  <div class="home-product">
    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Crepe Sầu Riêng</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Kem Táo</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bắp</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Su Kem</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Ngọt Nướng Mật Ong</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
    </div>
  </div>