/* You can add global styles to this file, and also import other style files */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.title_home{
    display: flex;
    background: #222326;
    margin-bottom: 25px;
}
.title_home span.t1, .title_home h1.t1{
    display: block;
    width: 40%;
    background: #3b84b0;
    color: white;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    margin: 0;
}
.title_home span.t2{
    display: block;
    width: 60%;
    text-align: right;
    font-size: 12px;
    padding: 15px;
}
.title_home span.t2 a{
    color: white;
}
.title_home span.t2 a:hover{
    color: #3b84b0;
}
/* product */
.home-product .product{
    margin-bottom: 20px;
}
.home-product .product img{
    width: 100%;
}
.home-product .product h3{
    background: #222326;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.home-product .product a{
    text-decoration: none;
}
.home-product .product a:hover h3{
    background: #3b84b0;
}
/* address */
.address .detail{
    display: flex;
    font-size: 13px;
}
.address .detail span.icon{
    display: block;
    padding: 5px 10px 5px 0;
    color: #fbca00;
    text-align: justify;
}
.address .detail span.text{
    display: block;
    padding: 5px;
}