<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
    <li class="breadcrumb-item"><a href="#">Đăng ký</a></li>
    <!-- <li class="breadcrumb-item active">Rome</li> -->
</ul>

<div class="title_home">
    <h1 class="t1">Đăng Ký</h1>
    <span class="t2"></span>
</div>

<div class="container">
    <div class="alert alert-warning">
        <strong>Chú Ý!</strong>
        <ul>
            <li>*: Yêu cầu bắt buộc nhập</li>
        </ul>
    </div>
    <!-- <form #registerForm="ngForm" (ngSubmit)="handdleRegister(registerForm.value)">
        <div class="form-group">
            <label for="name">Họ Tên:</label>
            <input type="text" class="form-control" placeholder="Enter Họ Tên" id="name" name="name" [ngModel]="userData.name">
        </div>
        <div class="form-group">
          <label for="email">Email address<span class="text-danger">*</span>:</label>
          <input type="email" #email="ngModel" email required class="form-control" placeholder="Enter email" id="email" name="email" [ngModel]="userData.email">
            <span *ngIf="email.invalid" class="error">Email is not valid</span>
        </div>
        <div class="form-group">
          <label for="pwd">Password<span class="text-danger">*</span>:</label>
          <input type="password" #password="ngModel" minlength="3" maxlength="10" required class="form-control" placeholder="Enter password" id="password" name="passwword" [ngModel]="userData.pass">
            <span *ngIf="password.invalid" class="error">Password is not valid</span>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" pattern="[a-zA-Z]*" #address="ngModel" required class="form-control" placeholder="Enter Address" id="address" name="address" [ngModel]="userData.address">
            <span *ngIf="address.invalid" class="error">Address is not valid</span>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form> -->

    <form [formGroup]="registerForm" (ngSubmit)="pullRegister()">
        <div class="form-group">
            <label for="name">Họ Tên:</label>
            <input type="text" class="form-control" placeholder="Enter Họ Tên" id="name" name="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="email">Email address<span class="text-danger">*</span>:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" formControlName="email">
            <span *ngIf="email.invalid" class="error">Email is invalid</span>
        </div>
        <div class="form-group">
          <label for="pwd">Password<span class="text-danger">*</span>:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password" name="passwword" formControlName="password">
            <span *ngIf="password.invalid" class="error">Password is invalid</span>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" placeholder="Enter Address" id="address" name="address" formControlName="address">
            <span *ngIf="address.invalid" class="error">Address is invalid</span>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<br>

<div class="title_home">
    <span class="t1">Sản phẩm xem nhiều</span>
    <span class="t2"></span>
  </div>
  
  <div class="home-product">
    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Crepe Sầu Riêng</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Kem Táo</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bắp</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Su Kem</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Ngọt Nướng Mật Ong</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="">
                    <img src="assets/img/sp.jpg" class="img-fluid">
                    <h3>Bánh Bơ</h3>
                </a>
            </div>
        </div>
    </div>
  </div>